services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file: ./.env
    volumes:
      - db_data:/var/lib/mysql
      - ./requirements/mariadb/tools/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - inception
    restart: always

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/db

networks:
  inception:
    driver: bridge
