server {
	#SSL/TLS Configuration
	listen 443 ssl;
	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;
	ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;

	#root and index and server_name
	root /var/www/html;
	server_name localhost;
	index index.html index.htm index.nginx-debian.html;

	#Main Location
	location / {
		try_files $uri $uri/ =404;
	}

	#PHP Processing
	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass wordpress:9000;
	}
}
